@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.three-dots {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.modal {
  position: relative;
  background-color: white;
  width: 50%;
  margin: 0 auto;
  box-shadow: 5px 5px 10px 1px lightgray;
  height: 80vh;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
  border-radius: 5px;
}

@media screen and (max-width: 1024px){
  .modal {
    width: 70%;
  }
}

@media screen and (max-width: 768px){
  .modal {
    width: 90%;
    height: 90%;
  }
}

@media screen and (max-width: 426px){
  .modal {
    width: 100%;
    height: 100%;
  }
}